.content-container {
  display: flex;
}

.left-content {
  width: 5%;
  // border: 1px solid black;
}
.right-content{
  width: 5%;
  // border: 1px solid black;
}

#menu {
  display: none;
  position: absolute;
  width: 100px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}
#menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#menu button:hover {
  background-color: lightgray;
}
.center-content {
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
}
.nav{
  height: 5ch;
  // border: 1px solid black;
}
.head-option {
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}



#canvas-container {
  height: calc(75vh - 22px);
  overflow: auto;
  border: 1px solid black;
}

