.content-container {
  display: flex;
}

.left-content {
  width: 15%;
  border: 1px solid black;
}
.right-content{
  width: 15%;
  border: 1px solid black;
}

.center-content {
  width: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.nav{
  height: 10ch;
  border: 1px solid black;
}
.head-option {
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#canvas-container {
  overflow-x: scroll;
  flex: 1;
  position: relative;
  border: 1px solid black;
}

