<div class="reservedBox" (mouseenter)="onMouseEnter(booking)" (mouseleave)="onMouseLeave(booking)">
  <div class="reservedBoxBg" (click)="onDayReservation($event)">

  </div>
 
 <div *ngIf="isreserved"> 
  {{ booking.name }}
    <div class="reservedBoxDx" *ngIf="isreservedDx === true">
      &nbsp;
    </div>
    <div class="reservedBoxCx" *ngIf="isreservedCx === true">
      &nbsp;
    </div>   
    <div class="reservedBoxSx" *ngIf="isreservedSx === true">
      &nbsp;  
    </div>    
    
    <div class="clearfix"></div> 
  </div>
</div>