<div>
  <div class="containerNavigationBar">
    <div class="panelNavigationBar">
      <div class="panelDatePicker">
        <button mat-icon-button (click)="picker.open()">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput [matDatepicker]="picker" name="datpicker" [ngModel]="datpicker" [hidden]="'true'"
          (dateChange)="onPickerChange($event)">
      </div>
      &nbsp;
      &nbsp; <button mat-raised-button color="primary" (click)="onPrevMonth()">Mois précédent</button>&nbsp;
      <button mat-raised-button color="primary" (click)="onNextMonth()">Mois suivant</button>&nbsp;
    </div>
  </div>
  <div class="containerStatusbar">
    {{ currvalues.dayWeekName }} {{ currvalues.day }} {{ currvalues.monthName }} {{ currvalues.year }}
    <div class="panelStatusbar" *ngIf="statusbar">
      &nbsp;-&nbsp;&nbsp;Reservation:
      {{ statusbar.startDate | date: 'dd-MM-yyyy' }} / {{ statusbar.endDate | date: 'dd-MM-yyyy' }}&nbsp;
      {{ statusbar.name }}&nbsp;
    </div>
  </div>

</div>