<h2 mat-dialog-title>Nouvelle réservation</h2>
<form (ngSubmit)="onConfirm(f)" #f="ngForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Chambre</mat-label>
      <mat-select [(value)]="selectedRoom">
        <mat-option *ngFor="let room of rooms" [value]="room">{{ room.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-datepicker #picker1></mat-datepicker>
      <input matInput [matDatepicker]="picker1" name="startDate" placeholder="Start" [ngModel]="startDate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-form-field>
      <mat-datepicker #picker2></mat-datepicker>
      <input matInput [matDatepicker]="picker2" name="endDate" placeholder="End" [ngModel]="endDate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary">Réserver</button>
    <!-- <button mat-button (click)="onReserveClick(selectedRoom, startDate, endDate)">Réserver</button> -->
  </mat-dialog-actions>
</form>
